// color
$primary:#000 !important;
$secondary:#fff !important;
$link-color:#fff !important;

// h1~h6 font size
$h1:40px;
$h2:30px;
$h3:20px;
$h4:16px;
$h5:14px;
$h6:12px;

// 文字大小
$fontBaseSize:16px;

// line-height
$lineHeightLevel:1.4;

// space
$space1:0.25rem;
$space2:0.5rem;
$space3:1rem;
$space4:1.5rem;
$space5:3rem;

// breakpoint
$breakpoint-sm:576px;
$breakpoint-md:768px;
$breakpoint-lg:992px;
$breakpoint-xl:1200px;