$primary: #007bff;
$secondary: #6c757d;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$white: #fff;
$gradient: linear-gradient(
  0deg,
  rgba(4, 0, 74, 1) 0%,
  rgba(0, 12, 198, 1) 54%,
  rgba(0, 23, 255, 1) 100%
);
$border: 5px solid #fff;
$border-radius: 0.5rem;
$padding: 0.5rem;
$margin-bottom: 1rem;
$shadow: 0 0 5px rgba(0, 0, 0, 0.8);